@charset "UTF-8";

.logout {
  border-radius: 5px;
  background: #fff;
  border: 1px solid #dc000c;
  color: #dc000c;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .logo a:first-child {
   margin-right: 40px;
 }
 .logo div a {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .main {
   display: flex;
   justify-content: space-between;
   margin-top: 48px;
   margin-bottom: 90px;
 }
 .profile {
   width: 27%;
 }
 .main-content {
   width: 70%;
   background: #fff;
  border: 1px solid #ebebeb;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
 }
 /*********Avatar Upload*******/
  .avatar-section {
    width: 100%;
    background: #ebebeb;
    padding-top: 37px;
    padding-bottom: 47px;
  }

 .avatar-upload {
  position: relative;
  max-width: 205px;
  margin: auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 54px;
  height: 54px;
  margin-bottom: 0;
  border-radius: 100%;
  background-image: url('../img/edit-btn.png');
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#imagePreview {
  background-image: url('../img/no-image.png');
}

/*************Profile************/

.user-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ebebeb;
  padding: 24px 74px;
}
.user-image img {
  max-width: 55px;
  margin-bottom: 6px;
  cursor: pointer;
}
.user-image .user-name span{
  font-family: "NotoSans Bold";
  font-size: 17px;
  color:#333;
}
.user-image .user-name{
  font-family: "NotoSans Regular";
  font-size: 15px;
  color:#333;
  margin-top: 6px;
  margin-bottom: 6px;
}
.user-image a {
  font-family: "NotoSans Regular";
  background: transparent;
  font-size: 14px;
  color: #333;
  padding: 6px 12px;
  border-radius: 16px;
  border: 1px solid #c9c9c9;
}
.profile .icons {
  display: flex;
  margin-top: 6px;
  margin-bottom: 6px;
}

.profile .icon-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ebebeb;
  padding:18px 44px;
  cursor: pointer;
}
.profile .icon-item:first-child {
  margin-right: 6px;
}
.profile .icon-item img {
  width: 40px;height: 40px;
}
.profile .icon-item .text {
  font-family: "NotoSans Regular";
  font-size: 11px;
  color: #333;
}
.buy-coin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ebebeb;
  padding: 12px;
  cursor: pointer;
}
.buy-coin div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*******Cat section*****/

.cat-section {
  background-image: url('../img/pub-main-sp-bk.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:64px;
  padding-bottom: 64px;
}
.section a {
  font-size: 16px;
  color: #fff;
  padding: 16px 40px;
  border-radius: 28px;
  background: #dc000c;
  margin-top: 36px;
}

.radio-group {
  border-radius: 10px;
  background: #fff;
  border: 1px solid #fafafa;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 36px 20px;
}
.radio-group div:not(:last-child) {
  margin-bottom: 12px;
}
.radio-group a{
  width: 240px !important;
}

.sub-section {
  width: 536px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.sub-section .red-title {
  font-family: "NotoSans Bold";
  font-size: 24px;
  color: #dc000c;
  margin-bottom: 25px;
}
.sub-section .input-text {
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
  border-bottom: 1px solid #ebebeb;
  margin-top: 20px;
  padding-bottom: 20px;
}
.sub-section .input-text  .left-text {
  font-family: "NotoSans Bold";
  font-size: 16px;
  color: #1a1311;
}
.sub-section .input-text  .right-text {
  font-size: 16px;
  color: #707070;
}
.sub-section a {
  width: 45% !important;
  margin: auto;
  margin-top: 36px;
  text-align: center;
  display: block;
  cursor: pointer;
}
.sub-section .section {
  margin-bottom: 80px;
}
.sub-section .section:last-child {
  margin-bottom: 0px;
}

/*****************Switch Button*******************/
.toggle-label {
	position: relative;
	display: block;
	width: 100px;
	height: 30px;
	margin-top: 2px;
	margin-bottom: 2px;
  cursor: pointer;
}
.toggle-label input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}
.toggle-label input[type="checkbox"] + .back {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #DC000C;;
	transition: background 150ms linear;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.toggle-label input[type="checkbox"]:checked + .back {
	background: #00a651; /*green*/
}

.toggle-label input[type="checkbox"] + .back .toggle {
	display: block;
	position: absolute;
	content: " ";
	background: #fff;
	width: 50%;
	height: 100%;
	transition: margin 150ms linear;
	border: 1px solid #808080;
	border-radius: 15px;
}
.toggle-label input[type="checkbox"]:checked + .back .toggle {
	margin-left: 50px;
}
.toggle-label .label {
	display: block;
	position: absolute;
	width: 50%;
	color: #DC000C;
	text-align: center;
	font-size: 11px;
}
.toggle-label .label.on {
	left: 0px;
}
.toggle-label .label.off {
	right: 0px;
}

.toggle-label input[type="checkbox"]:checked + .back .label.on {
	color: #fff;
}
.toggle-label input[type="checkbox"] + .back .label.off {
	color: #fff;
}
.toggle-label input[type="checkbox"]:checked + .back .label.off {
	color: #00a651;
}


@media screen and (max-width:1000px) { 
  .main-content {
    width: 100%;
  }
  .header-area {
    margin-left: 20px;
    margin-right: 20px;
  }
  .header .wrapper {
    width: calc(100% - 40px);
  }
  .wrapper {
    width: 100%;
  }
  .sub-section {
    width: calc(100% - 40px);
  }
  .main {
    margin-top: unset;
    margin-bottom: 80px;
  }
  .logo {
    width: 100%;
    justify-content: space-between;
  }
  .sp {
    display: flex !important;
  }
  .logo div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  /*---- ハンバーガーボタン部分 ----*/
  .menu-btn {
    padding: 7px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    background-color: white;
    z-index: 9999;
    margin-left: 15px;
  }
  .logo div a:first-child {
    margin-right: 24px;
  }
  .menu-btn span {
    width: 30px;
    height: 5px;
    background-color: black;
    margin-bottom: 6px;
    transition: all .3s ease;
  }
  .menu-btn span:last-child {
    margin-bottom: 0px;
  }
  .menu-btn.menu-open {
    border-radius: 100%;
    background-color: #1a1311;
    border-color: white;
    width: 30px;height: 30px;
    margin-left: 25px;
    margin-right: 10px;
    border:1px solid white;
    position: fixed;
  }
  #menu {
    width: 100%;opacity: 0.4;
    background-color: #000;
  }
  .menu-btn.menu-open span {
    width: 15px;
    height: 5px;
    background-color: white;
  }
  .menu-open span:nth-child(1) {
    transform: rotate(135deg) translate(5px, -5px);
    background-color: white;
  }
  .menu-open span:nth-child(2) {
    width: 0px;
    opacity: 0;
    background-color: #1a1311;
  }
  .menu-open span:nth-child(3) {
    transform: rotate(-135deg) translate(5px, 5px);
    background-color: white;
  }
  .menu {
    position: fixed;
    background-color: #1a1311;
    right: 0;
    top: 0;
    bottom: 0;
    width: 360px;
    height: 0;
    padding: 130px 20px;
    overflow-y: auto;
    backdrop-filter: blur(3px);
    font-size: 24px;
    transform: translateY(-30%);
    opacity: 0;
    z-index: -1;
    transition: all .3s ease;
  }
  .menu-main-open {
    transform: translateX(0) !important;
    opacity: 1 !important;
    z-index: 999 !important;
    height: 100vh;
    width: 360px;
    display: flex;
    flex-direction:column;
  }
  .menu-sp-item {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ebebeb;
    font-family: "NotoSans Bold";
    font-size: 20px;
    color: #fff;
  }
  .menu-sp-item:last-child {
    border: unset;
  }
  .menu-sp-item a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .menu-sp-item img {
    margin-right: 16px;
  }
  .menu-logout-form {
    display: flex;
    justify-content: center;
  }
  .menu-logout {
    font-size: 16px;
    color: #fff;
    padding:16px 80px;
    background: transparent;
    border: 1px solid #fff;
    display: initial;
    border-radius: 28px;
    line-height: 1.5;
  }
}

@media screen and (max-width:500px) { 
  .header .wrapper {
    width: calc(100% - 20px);
  }
  .logo div a:first-child {
    margin-right: 15px;
  }
  .menu-btn {
    margin-left: 10px;
  }
  .logo div a:nth-child(2) {
    display: none;
  }
  .logo .mypage-sp {
    display: none !important;
  }
}

.hide {
  display: none;
}

.edit-text {
  margin-top: 25px;
}
.edit-text:not(:first-child) {
  margin-top: 25px;
}
.edit-text p {
  font-family: "NotoSans Bold";
  font-size: 16px;
  colro: #1a1311;
  margin-bottom: 12px;
}
.edit-text input {
  width: 100%;
}
a.redo {
  border-radius: 28px;
  background: #fff;
  border: 1px solid #dc000c;
  color: #dc000c;
}
.edit-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}


/********************Ema Page************************/
.ema {
  padding: 48px;
  margin: auto;
 }

 .ema .ema-title {
   font-size: 16px;
   color: #1a1311;
   text-align: center;
   margin-bottom: 16px;
 }

 .ema-image {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
 }
 .cat-section .ema-image {
   margin-bottom: 0px;
 }
 .ema-image img{
  max-width: 342px;
 }
 .ema-image p {
   position: absolute;
   bottom: 25px;
   font-size: 12px;
   color: #fff;
   max-width: 240px;
 }

 .ema-warning {
   display: flex;
   justify-content: center;
   align-items: flex-start;
 }
 .ema-warning img {
   max-width: 100%;
   height: 100%;
   margin-right: 6px;
   margin-top: 3px;
 }
.ema-warning p{
  font-size: 14px;
  color:#dc000c;
}
.cat-section .ema-warning {
  margin-top: 24px;
}
#ema-field {
  padding: 16px;
  width: 100%;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ebebeb;
  margin-top: 16px;
  margin-bottom: 6px;
}
#charNum {
  font-size: 14px;
  color:#dc000c;
}
.done {
  display: flex;
  justify-content: center;
  align-items: center;
}
.done a {
  border-radius: 28px;
  background: #dc000c;
  color: #fff;
  padding: 16px;
  width: 60%;
  margin-top: 36px;
  text-align: center;
}
.omikuji-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  padding-top: 64px;
  padding-bottom: 60px;
}
.omikuji-section .ema-warning {
  margin-top: 24px;
}

.before-result .title{
  font-family: "NotoSans Bold";
  font-size: 20px;
  color:#dc000c;
  padding-bottom: 16px;
  border-bottom: 1px solid #707070;
  margin-bottom: 16px;
}
.result-item {
  font-family: "NotoSans Regular";
  font-size: 14px;
  color: #333;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top : 1px solid #e3e3e3;
  border-bottom : 1px solid #e3e3e3;
  display: flex;
}

.result-item p:first-child {
  margin-right: 50px;
}


/*****************Omikuji*********************/

/* box */
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}

/* modal */
.modal-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /* background: #999999; */
}

/* using :target */
/*
when users will click/enter button(link) browser will add a #id in a url and when that happens we'll show our users the modal that contains that id.
*/

.modal {
  width: 536px;
  border-radius: 10px;
  background: #fff;
  margin: auto;
  padding: 50px 60px;
  border: 1px solid #888;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top:50px;
  padding-bottom:50px;
}

.modal .logo {
  width: 300px;
  height: 62px;
  margin-bottom: 36px;
}
.modal .omikuji {
  margin-bottom: 36px;
  cursor: pointer;
}

.modal .sub-desc {
  font-family: "NotoSans Bold";
  font-size: 18px;
  color: #1a1311;
  text-align: center;
}
.modal .sub-desc span {
  color:#dc000c;
}
.modal-container:target {
  display: flex;
}


/* link-... */
.link-1 {
  font-size: 1.8rem;

  color: var(--light);
  background: var(--background);
  box-shadow: .4rem .4rem 2.4rem .2rem var(--shadow-1);
  border-radius: 100rem;
  padding: 1.4rem 3.2rem;

  transition: .2s;
}

.link-2 {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.link-2::before {
  content: '';
  width: 40px;
  height:  40px;
  background-image:url('../img/modal-close.png');
  transform: translateY(-.1rem);
}
#start {
  display: none;
}
#start .logo,#start .omikuji {
  margin-bottom: 0px;
}
#start .omikuji {
  max-width: 250px;
}

#end {
  display: none;
}
#end {
  width: 536px;
  padding-top:50px;
  padding-bottom:50px;
}
.end-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top:30px;
  margin-bottom: 30px;
}
#end .title {
  font-size: 35px;
  margin-bottom: 15px;
}
#end .A-row {
  font-size: 16px;
  color: #1a1311;
  margin-bottom: 15px;
  width: 100%;
}
#end .B-row {
  font-size: 16px;
  color: #1a1311;
  margin-top: 15px;
  width: 100%;
}

#end .texts p span {
  font-family: "NotoSans Bold";
  margin-right: 15px;
}
#end .horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #1a1311;
}
#end .bottom-text {
  padding: 36px;
}
#end .bottom-text p {
  font-family: "NotoSans Bold";
  font-size: 18px;
  color: #dc000c;
  margin-bottom: 14px;
}
#end .bottom-text .icons-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#end .text p {
  margin-bottom: 20px;
}
#end .texts a {
  font-size: 16px;
  color : #fff;
  background: #dc000c;
  width: 50%;
  height: 56px;
  border-radius: 28px;
  display:  flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  margin-top:36px;
  /* margin-bottom:36px; */
}
@media screen and (max-width:600px) { 
  .modal {
    width: calc(100% - 20px);
  }
}




.jisha-wrapper {
  width: 700px;
  margin:auto;
  margin-top: 68px;
}

.jisha-detail {
  background: #fff;
  border: 1px solid #ebebeb;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}
.jisha-detail-item {
  position: relative;
  margin-top: -125px;
  display: flex;
  justify-content: center;
}
.jisha-detailed-image {
  width: 250px;
  height: 250px;
}
.bk-part {
  background: #ebebeb;
  height: 170px;
}
.jisha-detail-item .proved {
  position: absolute;
  top:0;
  left: calc(50% - 125px);
}
.jisha-detail-item a {
  text-align: center;
  color:#dc000c;
  font-size: 16px;;
  padding: 4px 16px;

  border-radius: 16px;
  background: #fff;
  border: 1px solid #dc000c;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 154px;
  margin:auto;
  position:absolute;
  bottom:-8px;
}
.jisha-detail .desc {
  margin-top: 24px;
  margin-bottom: 36px;
  color: #1a1311;
  font-size: 16px;
  margin-left: 82px;
  margin-right: 82px;
}
.jisha-detail .red {
  width: 240px;
  border-radius: 28px;
  background: #dc000c;
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px !important;
  padding: 16px;
  margin:auto;
  display: flex;
  justify-content: center;
}

.ema-lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.ema-list .ema{
  padding:0;
}
.ema-list .jisha-wrapper {
  margin-top:0;
  width: 70%;
}
.ema-list .ema-image img {
  width: 80%;
}
.ema-list .ema-image p {
  bottom: 13px;
  font-size: 12px;
  max-width: 190px;
}
.ema-list .gift-btn-group {
  margin-top: 28px;
  margin-bottom: 48px;
}

/****************Jisha-Mypage***************/

.red-sub-title {
  font-size: 20px;
  font-family: "NotoSans Bold";
  color : #dc000c;
  padding-bottom: 10px;
  border-bottom: 1px solid #dc000c;
}
.edit-text textarea {
  width: 100%;
}
.input-text p:first-child {
  word-break: keep-all;
  margin-right: 10px;
}
.sub-description {
  font-size: 12px;
  color: #707070;
}

/****************public-request***************/

.public-title {
  font-family: "NotoSans Bold";
  font-size: 36px;
  color: #dc000c;
  margin-top: 48px;
  margin-bottom: 38px;
  text-align: center;
}
.get-addr {
  font-size: 16px;
  color: #dc000c;
  border-radius: 15px;
  background: #fff;
  border: 1px solid #dc000c;
  padding: 5px 12px;
}
.addr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.addr input:first-child {
  width: 35%;
  margin-right: 32px;
}
.addr input:nth-child(2) {
  width: 88px;
}
.divide {
  display: flex;
  justify-content: space-between;
}
.checkbox {
  margin-top: 16px;
}
.checkbox label {
  cursor: pointer;
}